<div>
<p><p>&nbsp;<p>
<b>Lenguages de programaci&oacute;n, tecnolog&iacute;as y herramientas de desarrollo</b><ul class="conocimientos">
<li>J2EE</i>
<li>Angularjs, Bower, Grunt</li>
<li>Phonegap</li>
<li>Bootstrap, media queries, responsive design</li>
<li>Business Intelligence (Talend)</li>
<li>Python</li>
<li>Wordpress (creación de aplicaciones)</li>
<li>Coffescript</li>
<li>Maven</li>
<i>Spring</li>
<li>Git</li>
<li>Php</li>
<li>Datawarehouse</li>
<li>Scala</li>
<li>Groovy</i>
<li>Nodejs</li>
<li>Wicket</i>
<li>Spark</li>
<li>Android, iOS</li>
<li>Servicios Web (SOAP, REST)</li>
<li>IDEs: Eclipse, Netbeans, Intellij Idea
<li>Jira</li>
<li>IoT (BLE)</li>
<li>Web scraping</li>
<li>.NET MVC4</li>
</ul>
<b>Metodolog&iacute;as y dise&ntilde;o</b><ul class="conocimientos">
<li>Extreme Programming (TDD, Pair Programming)</li>
<li>Scrum</li>
<li>Testing (Selenium, Webdriver, JUnit, Integraci&oacute;n continua, mocking)</li>
<li>Patrones de dise&ntilde;o</li>
<li>T&eacute;cnicas de refactoring</li>
</ul>

<b>Bases de datos</b><ul class="conocimientos">
<li>Oracle</li>
<li>noSql (Redis)</i>
<li>Postgresql</i>
<li>SQL Server</li>
<li>MySQL</li>
</ul><b>Idiomas</b><ul class="conocimientos">
<li>Ingl&eacute;s - Nivel alto hablado y escrito (cerca de 2 a&ntilde;os trabajando en Londres)</li>
</ul>
<p>&nbsp;</p>
</div>
</div>
