<div>
<p><p>&nbsp;<p>

			<b>M&eacute;todos de contactar conmigo:</b>
		<p></p>
			- Email: 
		<a href="mailto:hgarzon@gmail.com " class="aLink">hgarzon@gmail.com</a><p></p>
			- M&oacute;vil: 652 274729<p></p>
			- <a href="http://es.linkedin.com/in/hectorgarzon" class="aLink">Linkedin</a><p></p>
			- <a href="https://twitter.com/#!/uncurioso" class="aLink">Twitter</a><p></p>
<p>&nbsp;</p>
</div>
