.indented
{
	MARGIN-LEFT: 50px
}
.indented2
{
	MARGIN-LEFT: 20px
}
.title1
{
	MARGIN-LEFT: 10px;
	TEXT-DECORATION: underline;
	font-style : italic;
	color: black;
}
.highlighted
{
	FONT-WEIGHT: bold;
	font-style : italic;
}
.cvTools
{
	COLOR: maroon; //Green;
	font-family:Verdana;
	font-size:13px;
}
.cvGain
{
	COLOR: maroon; //#000066;
	font-family:Verdana;
	font-size:13px;
}
.cvExmples
{
	COLOR: maroon;
	font-family:Verdana;
	font-size:13px;
}
.cvHits
{
	COLOR: maroon; //Blue;
	font-family:Verdana;
	font-size:13px;
}
.cvLeave
{
	COLOR: maroon; //firebrick;
	font-family:Verdana;
	font-size:13px;
}
.cvCompany_old
{
	COLOR: #666666;
	font-family:Verdana;
	font-size:13px;
}
.cvCompany
{
	COLOR: maroon;
	font-family: Verdana;
	font-size: 13px;
}
.cvJobPosition
{
	COLOR: maroon; //purple;
	font-family:Verdana;
	font-size:13px;
}
