BODY
{
	//font-family: Arial, 'Microsoft Sans Serif';
	//background-color: #CCCCCC;
	background:#DAE0D2 url("bg.gif") repeat-x bottom;
}

INPUT
{
	font-weight: bold;
	font-family: Arial;
}
.Titulo
{
	background-color: #a3f2f5;
}
.TextoError
{
	background-color: red;
}
a:hover {
	background-color: Lime;
}
.FondoTitulo {
	background-color: #DBF3E3;//#A3F3FF;
}
.FondoTitulo2 {
	background-color: #E1F3FFF;
}
.aLink
{
	FONT-WEIGHT: bold;
}
div.colIzq{
	float: left;
	background: #acc6d5; //#dedad5;
	padding: 25px;
	border: 1px solid black;
	border-top: 0px;
}
div.colDer{
	float: right;
	background: #acc6d5; //#dedad5;
	padding: 25px;
	border: 1px solid black;
	border-top: 0px;	
}
ul.conocimientos{
  font-size:14px;
  color: maroon;
}
ul.estudios{
  font-size:15px;
  color: maroon;
}
