<div><p>
<p>&nbsp;<p>
	    <b>
	      Talleres, charlas, congresos</b>
	    <ul class="estudios">
	      <li>
	      <b>Charla sobre cobros a trav&eacute;s de internet</b>. Organizado por Cachirulo Valey. Museo Pablo Gargallo, 15/02/12
	      <br>
	      </li>
	      <li>
	      <b>Charla de Masterbranch</b>. Organizado por Cachirulo Valey. CIEM, 25/01/12
	      <br>
	      </li>
	      <li>
	      <b>Taller sobre .net MVC3</b>. Organizado por Cachirulo Valey. CIEM, 18/01/12
	      <br>
	      </li>
	      <li>
	      <b>Taller sobre BDD con Behat y Mink</b>. Organizado por Cachirulo Valey. DWP, 05/10/11
	      <br>
	      </li>
	      <li>
	      <b>Charla sobre Inception presentada por Enrique Comba</b>. Scalabble, 04/10/11
	      <br>
	      </li>
	      <li>
	      <b>Taller sobre JRuby</b>. Organizado por Cachirulo Valey. DWP, 20/09/11
	      <br>
	      </li>
	      <li>
	      <b>Taller sobre Hadoop</b>. Organizado por Cachirulo Valey. DWP, 31/08/11
	      <br>
	      </li>
	      <li>
	      <b>Taller sobre Node.js</b>. Organizado por Cachirulo Valey. DWP, 27/07/11
	      <br>
	      </li>
	      <li>
	      <b>Taller de Groovy Koans</b>. Organizado por Cachirulo Valey. DWP, 20/07/11
	      <br>
	      </li>
	      <li>
	      <b>Charla sobre Lean startup</b>. Organizado por Scalabble, 15/06/11
	      <br>
	      </li>
	      <li>
	      <b>Dummy day</b>. Organizado por Cachirulo Valey. CIEM, 09/06/11
	      <br>
	      </li>
	      <li>
	      <b>Congreso web zaragoza</b> WTC, del 3 al 5 de Junio del 2011
	      <br>
	      </li>
	      <li>
	      <b>Charla sobre tipos de financiaci&oacute;n</b>. Organizado por Cachirulo Valey. Universidad, 19/05/11
	      <br>
	      </li>
	      <li>
	      <b>Taller de iniciaci&oacute;n a Android</b> organizado por GUG Zaragoza. DWP, 06/04/11
	      <br>
	      </li>
	      <li>
	      <b>Coding dojo impartido por Carlos Ble</b>. Organizado por Frogtek. Walqa, 21/01/11
	      <br>
	      </li>
		<br/>
	  </ul>
	    <b>
	      Cursos</b>
	    <ul class="estudios">
	      <li>
	      <b>Programaci&oacute;n de aplicaciones WEB con Java EE (certificado SCWCD)</b> – 2011 – Centro de Tecnolog&iacute;as Avanzadas
	      <br>
	      </li>
	      <li>
	      <b>Gesti&oacute;n de Direcci&oacute;n</b> – 2009 – Centro de Tecnolog&iacute;as Avanzadas
	      <br>
	      </li>
	      <li>
	      <b>Programaci&oacute;n de aplicaciones para dispositivos m&oacute;viles con Java</b> – 2009 – Centro de Tecnolog&iacute;as Avanzadas
	      <br>
	      </li>
		<br/>
    </ul>
        <b>
          Estudios Acad&eacute;micos y T&iacute;tulos</b>
        <ul class="estudios">
          <li>
          <b>Ingenier&iacute;a Superior de Inform&aacute;tica, Centro Polit&eacute;cnico Superior (Zaragoza)</b>
          <br>
          1993- 1999
          <br>Proyecto final: 
          <i>VRML y sus posibilidades para el desarrollo de servidores de informaci&oacute;n</i></li>
        </ul>
        <p>
          &nbsp;
        </p>
</div>

