<div>
<p><p>&nbsp;<p>
      <link rel="stylesheet" type="text/css" href="cv.css">
      <ul>
    <li>
        <b>
            Desde 03/2012 :
            <a href="http://www.keensoft.es">keensoft</a></b>,  Zaragoza (Espa&ntilde;a)
        <br>
            <span class="cvCompany">
              <div class="title1">
                  Descripci&oacute;n de la empresa :
              </div>
              <div class="indented">
                  Empresa de desarrollo y consultor&iacute;a
              </div>
              <br>
            </span>
            <span class="cvJobPosition">
              <div class="title1">
                  Tareas desempe&ntilde;adas :
              </div>
              <div class="indented">
                  Ingeriero software
              </div>
              <br>
            </span>
            <span class="cvTools">
              <div class="title1">
                  Herramientas/Tecnolog&iacute;as utilizadas :
              </div>
              <div class="indented2">
                  <ul>
                      <li>Business Intelligence (Talend)</li>
                      <li>Javascript (Grunt, angularjs, bower, etc)</li>
                      <li>Desarrollo para dispositivos m&oacute;viles (Phonegap, bootstrap, responsive design, etc)</li>
                      <li>Wordpress, php</li>
                      <li>Datawarehouse</li>
                      <li>J2EE, Spring, Wicket</li>
                      <li>Git, Maven</li>
                      <li>Scrum</li>
                  </ul>
              </div>
              <br>
            </span>
             <span class="cvExmples">
                <div class="title1">
                  Algunos de los proyectos desarrollados :
                </div>
                <div class="indented2">
                  <ul>
                    <li>Aplicaciones de Business Intelligence y Datawareouse para clientes como <b>Yell</b>, <b>CRIDA (Aena)</b> y <b>Vinos y Viñedos</b> </li>
                    <li>
                    Aplicaciones web para la <b>administraci&oacute;n p&uacute;blica y para un supermercado</b>
                    </li>
                    <li><b>Aplicaci&oacute;n m&oacute;vil</b> de gesti&oacute;n de proyectos de instalaciones industriales asi como de gesti&oacute;n de pedidos de un supermercado</li>
                    <li>Creaci&oacute;n del <b>portal de transparencia</b> de la DPT con Wordpress</li>  
                  </ul>
                </div>
                <br>
              </span>
        <hr style="color:black">
    </li>
      <li>
        <b>
          11/2008 - 03/2012:
          <a href="http://www.euro-help.net">Eurohelp Consulting</a></b>,  Zaragoza (Espa&ntilde;a)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Empresa de desarrollo
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista y Analista - Programador
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>J2EE, Struts, Spring (jdbc, security, etc)</li>
              <li>
                Firma Digital, Sistema de Registro Telem&aacute;tico, Entorno de tramitaci&oacute;n telem&aacute;tica, Documentum
              </li>
              <li>Oracle (Base de datos y oc4j), JBOSS ESB</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented2">
            <ul>
              <li>Aplicaciones para la <b>administraci&oacute;n p&uacute;blica</b> (Departamentos de Vicepresidencia, de Industria y de Justicia)</li>
              <li>
              Encargado de la oficina t&eacute;cnica
              </li>
            </ul>
          </div>
          <br>
        </span>
          <span class="cvLeave">
          <div class="title1">
              Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
              Oportunidad de participar en proyectos de movilidad y de Business Intelligence, as&iacute; como usar metodolog&iacute;as &aacute;giles
          </div>
        </span>
        <hr style="color:black">
      </li>
      <li>
        <b>
          06/2007 - 11/2008:
          <a href="http://www.eds.com">EDS</a></b>,  Zaragoza (Espa&ntilde;a)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Multinacional americana de desarrollo
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista - Programador
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>Java (jsp, servlets, etc), Struts, Hibernate</li>
              <li>Oracle</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented2">
            <ul>
              <li>Aplicaciones de gesti&oacute;n de facturas y tesorer&iacute;a para una importante caja de ahorros</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvHits">
          <div class="title1">
            Logros mas destacados :
          </div>
          <div class="indented">
            Perfecta <b>adaptaci&oacute;n a distintas formas de trabajar (desde casa, en distintas oficinas) y entornos (host y java)</b>
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            Oportunidad de participar en proyectos para la administraci&oacute;n p&uacute;blica
          </div>
        </span>
        <hr style="color:black">
      </li>
        <li>
        <b>
          12/2004 - 06/2007 :
          <a href="http://www.iasoft.es">IaSoft</a></b>,  Zaragoza (Espa&ntilde;a)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Empresa de desarrollo
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista - Programador
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>C#, VB.NET, ASP.NET, Php</li>
              <li>SQL 2000, MySql</li>
              <li>Crystal Reports</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented2">
            <ul>
              <li>Padr&oacute;n: aplicaci&oacute;n de escritorio para la gesti&oacute;n de los datos del padr&oacute;n</li>
              <li>Basical: aplicaci&oacute;n web para la gesti&oacute;n de la contabilidad de entidades locales</li>
              <li>Itaca: portal e intranet de las comarcas de Arag&oacute;n</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvHits">
          <div class="title1">
            Logros mas destacados :
          </div>
          <div class="indented">
            Satisfacci&oacute;n del cliente destacando mi
            <span class="highlighted">
              profesionalidad y alto nivel t&eacute;cnico y de an&aacute;lisis
            </span>
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            Oportunidad de adquirir experiencia en el desarrollo de tecnolog&iacute;as java
          </div>
        </span>
        <hr style="color:black">
        <li>
        <b>
          10/2004 - 12/2004 :
          <a href="http://www.iritec.es">Iritec</a></b>,  Zaragoza (Espa&ntilde;a)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Empresa de desarrollo
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista - Programador
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>C#, ASP.NET</li>
              <li>SQL 2000</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div>
            <ul class="indented2">
              <li>POLCA: Plataforma online de colaboraci&oacute;n de artistas. Incluye una aplicaci&oacute;n de escritorio de comunicaci&oacute;n entre artistas (similar al messenger de Microsoft).</li>
              <li>Varios portales de menor tama&ntilde;o</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            Oportunidad de trabajar en una empresa mayor
          </div>
        </span>
        <hr style="color:black">
        <p>
        </p>
        <li>
        <b>
          03/2004 - 05/2004 :
          <a href="http://www.iasoft.es">IaSoft</a></b>,  Zaragoza (Espa&ntilde;a)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Empresa de desarrollo
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista - Programador
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>VB 6</li>
              <li>SQL 2000</li>
              <li>Crystal Reports</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented2">
            <ul>
              <li>
              Paquete de aplicaciones de gesti&oacute;n integral para la empresa
              <span class="highlighted">
                Feria de Zaragoza
              </span></li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvHits">
          <div class="title1">
            Logros mas destacados :
          </div>
          <div class="indented">
            Satisfacci&oacute;n del cliente destacando mi
            <span class="highlighted">
              profesionalidad y alto nivel t&eacute;cnico y de an&aacute;lisis
            </span>
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            Terminaci&oacute;n del proyecto
          </div>
        </span></li>
        <hr style="color:black">
        <p>
        </p>
        <li>
        <b>
          07/2002 - 11/2003 :
          <a href="http://www.skybridgegroup.com">SkyBridge Group plc</a></b>,  Londres (Inglaterra)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Empresa perteneciente al grupo
            <span class="highlighted">
              HAVAS
            </span>
            y una de las empresas lider en el sector de Marketing (e-business). Entre sus clientes destacan :
            <span class="highlighted">
              Coca Cola, Microsoft, Sun, IBM, Opel, Peugeot
            </span>
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista - Programador
          </div>
          <br>
        </span>
        <span class="cvGain">
          <div class="title1">
            Obtuve de este trabajo :
          </div>
          <div class="indented">
            La experiencia de trabajar en una gran empresa con una gran variedad de departamentos y fuertes protocolos y estandares. El desaf&iacute;o de la necesidad de una
            <span class="highlighted">
              gran profesionalidad
            </span>
            dada la entidad de los clientes. Trabajar comunic&aacute;ndote en
            <span class="highlighted">
              ingles
            </span>
            como &uacute;nica lengua. Desarrollo de aplicaciones tanto de uso interno como externo y tanto web como de escritorio. He adquirido experiencia en realizar planificaci&oacute;n de costes y en la participaci&oacute;n en
            <span class="highlighted">
              todo el ciclo de vida del proyecto
            </span>, es decir, desde el an&aacute;lisis hasta la migraci&oacute;n del producto al entorno de producci&oacute;n. Experiencia profesional en nuevas tecnolog&iacute;as tales como
            <span class="highlighted">
              XML/XSL, UML y .NET
            </span>. La oportunidad de trabajar con personas de todo el mundo y de formar parte de varios equipos de desarrollo.
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>ASP</li>
              <li>VB 6</li>
              <li>SQL 2000, MS Access, ADO</li>
              <li>COM+</li>
              <li>XML, XSL, CSS</li>
              <li>ASP.NET, C#, VB.NET y ADO.NET</li>
              <li>UML (Select Component Factory)</li>
              <li>Javascript</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented2">
            <ul>
              <li>
              Proyecto de
              <span class="highlighted">
                explotaci&oacute;n de datos via web para CocaCola
              </span>
              (uso interno del cliente)</li>
              <li>
              <span class="highlighted">
                Programas de fidelizaci&oacute;n para clientes como Sun, Microsoft, Opel, Land Rover
              </span>. Incluye importaci&oacute;n de datos, gesti&oacute;n de productos y ordenes, tienda online donde los usuarios pueden gastar los puntos obtenidos, generaci&oacute;n de reports, etc. Abarca tanto sitios web como aplicaciones de escritorio. Se desarrollaron programas espec&iacute;ficos para ciertos clientes y generales para otros (flexibilidad para an&ntilde;adir nuevos programas reutilizando el codigo existente). En ambos casos cada uno de los programas tiene sus propias caracter&iacute;sticas y herramientas. (uso interno del cliente)</li>
              <li>Proyecto de generaci&oacute;n de formularios via web (uso interno)</li>
              <li>Mini sites y diversas herramientas de uso interno</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvHits">
          <div class="title1">
            Logros mas destacados :
          </div>
          <div class="indented">
            He sido
            <span class="highlighted">
              considerado un trabajador profesional
            </span>, con alto nivel t&eacute;cnico, capaz de desarrollar tareas de una gran cantidad de proyectos distintos al mismo tiempo, siendo entregadas a tiempo y con alto nivel de calidad. Mencionado en varios de los boletines de la empresa por mi rendimiento. Fui seleccionado como
            <span class="highlighted">
              uno de los 6 trabajadores destacados
            </span>
            en el primer semestre del 2003. Obtuve varios aumentos de sueldo incluso en momentos de crisis de la empresa.
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            Volver a Espa&ntilde;a por motivos personales
          </div>
        </span></li>
        <hr style="color:black">
        <p>
        </p>
        <!--
        <li>
        <b>04/2002 - 06/2002 : Freelance</b>,  Londres (Inglaterra)
        <br>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista - Programador
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented">
            <ul>
              <li>ASP, PhP</li>
              <li>MS Access, MySql</li>
              <li>XML, XSL, CSS</li>
              <li>Javascript</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented">
            <ul>
              <li>Aportaciones a trabajos de amigos principalmente.</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            Encuentro un trabajo permanente en una empresa
          </div>
        </span></li>
        <hr style="color=black">
        <p>
        </p>
        -->
        <li>
        <b>
          10/2000 - 04/2002 :
          <a href="http://www.dicom-medios.com">Dicom Medios</a></b>,  Zaragoza (Espa&ntilde;a)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Empresa de desarrollo de aplicaciones web perteneciente al grupo Zeta
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Analista-programador web
          </div>
          <br>
        </span>
        <span class="cvGain">
          <div class="title1">
            Obtuve de este trabajo :
          </div>
          <div class="indented">
            Experiencia en el desarrollo web, comprender las
            <span class="highlighted">
              necesidades del usuario web
            </span>
            a trav&eacute;s de los servicios interactivos disponibles en los sitios web desarrollados y la importancia de un
            <span class="highlighted">
              buen dise&ntilde;o
            </span>
            para que el rendimiento sea optimo. La experiencia de trabajar en una mediana/gran empresa.
          </div>
          <br>
        </span>
        <div class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>ASP</li>
              <li>VB</li>
              <li>SQL, Access, MySQL</li>
              <li>COM+</li>
              <li>XML, XSL, CSS</li>
              <li>Javascript</li>
              <li>PHP</li>
            </ul>
          </div>
          <br>
        </div>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented2">
            <ul>
              <li>
              Red de portales regionales:
              <a href="http://www.redaragon.com">RedAragon</a>,
              <a href="http://www.redextremadura.com">RedExtremadura</a>,
              <a href="http://www.redsalamanca.com">RedSalamanca</a>,
              <a href="http://www.redasturias.com">RedAsturias</a>,
              <a href="http://www.redzamora.com">RedZamora</a>,
              <a href="http://www.redmediterraneo.com">RedMediterraneo</a>,
              <a href="http://www.redcordoba.com">RedCordoba</a></li>
              <li>Intranet Dicom Medios</li>
              <li>
              Portal dedicado:
              <a href="http://www.candanchu.com">Candanchu</a></li>
              <li>
              Portal dedicado:
              <a href="http://www.aiaa.es">AIAA</a></li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvHits">
          <div class="title1">
            Logros mas destacados :
          </div>
          <div class="indented">
            Desarrollo de una
            <span class="highlighted">
              red de portales
            </span>
            regionales con un
            <span class="highlighted">
              elevado numero de usuarios
            </span>
            con las implicaciones en cuanto a rendimiento que ello conlleva
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            Poder ir a Londres a buscar trabajo
          </div>
        </span></li>
        <hr style="color:black">
        <p>
        </p>
        <li>
        <b>11/1999 - 09/2000 : AM&amp;B</b>,  Zaragoza (Espa&ntilde;a)
        <br>
        <span class="cvCompany">
          <div class="title1">
            Descripci&oacute;n de la empresa :
          </div>
          <div class="indented">
            Empresa de desarrollo especializada en medios electr&oacute;nicos de pago
          </div>
          <br>
        </span>
        <span class="cvJobPosition">
          <div class="title1">
            Tareas desempe&ntilde;adas :
          </div>
          <div class="indented">
            Programador
          </div>
          <br>
        </span>
        <span class="cvGain">
          <div class="title1">
            Obtuve de este trabajo :
          </div>
          <div class="indented">
            Primera experiencia en el campo profesional. Me doy cuenta del
            <span class="highlighted">
              papel que desempe&ntilde;a el cliente
            </span>
            en el proyecto, de la importancia de generar un codigo correcto, documentado y flexible para reducir costes en futuros desarrollos, de la necesidad de un plan de tests y en general una visi&oacute;n de como se lleva a cabo un
            <span class="highlighted">
              proyecto real
            </span>
          </div>
          <br>
        </span>
        <span class="cvTools">
          <div class="title1">
            Herramientas/Tecnolog&iacute;as utilizadas :
          </div>
          <div class="indented2">
            <ul>
              <li>VB</li>
              <li>MS SQL</li>
              <li>COM, DCOM</li>
              <li>ADO</li>
              <li>Programaci&oacute;n de puertos</li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvExmples">
          <div class="title1">
            Algunos de los proyectos desarrollados :
          </div>
          <div class="indented2">
            <ul>
              <li>
              Aplicaci&oacute;n de venta de entradas y gesti&oacute;n financiera para el
              <span class="highlighted">
                museo Thyssen-Bornemisza de Madrid
              </span></li>
            </ul>
          </div>
          <br>
        </span>
        <span class="cvHits">
          <div class="title1">
            Logros mas destacados :
          </div>
          <div class="indented">
            Desarrollo de una aplicaci&oacute;n compleja por su nivel de fiabilidad requerido y por su alto nivel de uso diario por parte del usuario (actualmente siendo utilizada) en un corto periodo de tiempo y siendo mi primer contacto con el mundo profesional
          </div>
          <br>
        </span>
        <span class="cvLeave">
          <div class="title1">
            Raz&oacute;n para marcharme de la empresa :
          </div>
          <div class="indented">
            La imposibilidad de desarrollar aplicaciones web debido a la naturaleza de la empresa
          </div>
        </span></li>
        <hr style="color:black">
        <p>
        </p>
      </ul>
<p>&nbsp;</p>
</div>

