<div><p>
<p>&nbsp;<p>
        <b>
          Otros datos destacables:</b>
        <ul class="estudios">
          <li>
          Miembro del grupo <b>Agile Aragón</b> y participo activamente en los eventos organizados por <b>Cachirulo Valey</b> además de acudir siempre que puedo a congresos de desarrolladores como <b>Codemotion, AOS, SOSZGZ</b>, etc.
					</li>
          <li>He participado en el <b>Megathon 2013</b> quedando nuestro proyecto en quinta posici&oacute;n nacional</li>
          <li>
          Aficionado a la <b>fotograf&iacute;a:</b>&nbsp;&nbsp;&nbsp; <a href="http://www.flickr.com/photos/hgarzon/">Fotos en Flickr</a>
					</li>
        </ul>
        <p>
          &nbsp;
        </p>
</div>

