<div>
<p><p>&nbsp;<p>

			Perm&iacute;tame que me presente: mi nombre es <b>H&eacute;ctor Garz&oacute;n</b> y soy ingeniero superior en inform&aacute;tica por el <b>Centro Polit&eacute;cnico Superior de Zaragoza (Noviembre de 1999)</b>. 
		<p></p>
			He estado trabajando durante m&aacute;s de <b>15 a&ntilde;os</b> en varias empresas en <b>Zaragoza y Londres</b>, participando en el desarrollo de aplicaciones tanto web como de escritorio, utilizando diversas tecnolog&iacute;as y herramientas, realizando tareas de programador, Analista/Programador y Analista. 
			<p></p>
			Con <b>experiencia en una gran variedad de tecnolog&iacute;as</b>, siempre estoy aprendiendo algo nuevo que me permita mejorar profesionalmente para poder aplicarlo a la empresa. 
		<p></p>
			En todas las empresas en las que he trabajado he sido considerado como una persona <b>trabajadora, eficiente y profesional.</b>
			He trabajado tanto en remoto como en oficina y tanto en empresas grandes como pequeñas por lo que estoy acostumbrado a adaptarme a la forma de trabajar que requiera la empresa.</b>
			Apasionado de la inform&aacute;tica, soy una persona <b>intelectualmente inquieta y creativa</b>.
		<p></p>
		Siempre tengo <b>en mente alguna idea nueva</b> que llevar a cabo y algo <b>nuevo que aprender</b>.
		<p></p>
			Le invito a que visite el resto de secciones para poder valorar lo que puedo aportar a la empresa.
<p>&nbsp;</p>
</div>
